
@model ListCategoryViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Forum Sistem!</h1>

</div>


@foreach (var category in Model.Categories)
{
    <h2>@category.Name</h2>


    
    <div class="card">
        <img width="100" src="@category.ImageUrl" />
    </div>
}
